<section>
  <div data-embed-stream-container>
    <iframe
      src='https://player.twitch.tv/?channel={{ section.settings.twitch_channel }}&parent=shopipoints.com&parent=shopipoints.myshopify.com'
      height="300"
      width="400"
      allowfullscreen>
    </iframe>
  </div>
</section>

{% javascript %}
  const channelName = '{{ section.settings.twitch_channel }}';
  const clientId = '{{ section.settings.api_client_id }}';

  const selectors = {
    embedStreamContainer: '[data-embed-stream-container]'
  }

  const headers = {
    'Accept': 'application/vnd.twitchtv.v5+json',
    'Client-ID': clientId
  };

  async function fetchChannelId(name) {
    const response = await fetch(`https://api.twitch.tv/kraken/search/channels?query=${name}`, {headers})
    const {channels} = await response.json();

    if (channels.length === 0) {
      throw new Error('No channels were found with the provided name')
    }

    return channels.shift()._id;
  }

  async function fetchStream(channelId) {
    const response = await fetch(`https://api.twitch.tv/kraken/streams/${channelId}`, {headers})
    const {stream} = await response.json();
    return stream;
  }

  fetchChannelId(channelName)
  .then(fetchStream)
  .then((stream) => {
    if (stream !== null) {
      document.querySelector(selectors.embedStreamContainer).prepend(`Hey we've detected if our stream is live or not!`);
    }    
  })  
{% endjavascript %}}

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "text",
        "id": "twitch_channel",
        "label": "Twitch Channel Name"
      },
      {
        "type": "text",
        "id": "api_client_id",
        "label": "Twitch API Client ID"
      }
    ],
    "presets": [
      {
        "category": "Sections",
        "name": "Hero"
      }
    ]
  }
{% endschema %}